<!DOCTYPE html>
<html>
<head>
  <link href="reset.css" />
  <link href="base.css" />
  <link href="layout.css" />
  <link href="module.css" />
  <script src="server.js"></script>
</head>
<body>
  <header>
    <p> <%= greeting %> </p>
  </header>

  <main>

    <!-- these should create the query for the google books api -->
    <form action="/show" method="post">
    <label>Enter a title or author
      <input id="searchquery" type="text" name="search">
    </label>

    <label> Title
      <input id="title" type="radio" name="title" value="title"> 
    </label>

    <label> Author
      <input id="author" type="radio" name="author" value="author"> 
    </label>

    <!-- this should trigger the API to run, leads to get /search -->
    <button>Search the Google Books API</button>

  </main>

  <footer>
  </footer>
  
</body>
</html>