<!DOCTYPE html>
<html>
<head>
  <link href="reset.css" />
  <link href="base.css" />
  <link href="layout.css" />
  <link href="module.css" />
  <script src="server.js"></script>
</head>
<body>
  <header>
<% hello %>
  </header>
    <main>
    </main>
    <footer>
    </footer>
  
</body>
</html>